body{
    background-image: url(./images/flag.jpg);
}

.arepas {
    color: white;
    font-size: 20px;
}
.pabellon{
    color: white;
    font-size: 20px;

}
.pasticho{
    color: white;
    font-size: 20px;

}
.titulo{
    color: white;
    font-size: 40px;
}